@import "tailwindcss";

@plugin "daisyui";
*{
 
  box-sizing: border-box;
}

@layer utilities{
  .section-container{
    padding-left: 0;
    padding-right: 0;
  }
  @media (min-width:1024px) {
    .section-container{
    padding-left: 8vw;
    padding-right: 6vw;
   
    }
  }
}
a:active{
 font-weight: bold;
}